@{
    ViewData["Title"] = "IPHONE11";
}
<h1>@ViewData["Title"]</h1>

<h1 class="bd-title" id="content">INFORMACION DE PAGO</h1>

<div class="ui-radio__text">
            <span class="ui-badge ui-badge--small">
                    <span class="ui-badge__icon ui-badge__icon--payment-logo">
                        <i class="payment-icon payments-cho_badge _visa-cho_badge"></i>
                    </span>
            </span>
            <div class="badge-type__metadata">
                    <h2 class="badge-type-selection__list-title">Visa&nbsp;****&nbsp;7843</h2>
            </div>
        </div>