@{
    
    ViewData["Title"] = "ELIMINAR";
}
<h1>@ViewData["Title"]</h1>



<h1 class="bd-title" id="content">completa la informacion del producto</h1>


<form action="/home/ELIMINAR" method="POST" >
  
    
    <div class="form-group">
      <label for="Select" >SELECCIONE LA MARCA QUE DESEA ELIMINAR DE LA LISTA </label>
      <select id="marca" name="marca" class="form-control">
        <option>SAMSUNG S13</option>
        <option>XIAOMI REDMI NOTE 9S</option>
        <option>IPHONE 5 XS</option>
      </select>
    </div>
    
    

   
      </label>
    
    <button type="submit" class="btn btn-primary" >ELIMINAR PRODUCTO</button>
  </fieldset>
</form>






