@{
    ViewData["Title"] = "Home Page";
}





<div class="single-product-area">
<div class="zigzag-bottom"></div>
<div class="container">
<div class="row">
<div class="col-md-3 col-sm-6">
<div class="PRECIO">
<div class="product-upper">
<img src="https://images-na.ssl-images-amazon.com/images/I/81Jf4uu-xzL._AC_SY550_.jpg" height="170" width="150"  >
</div>
<h2><a href="https://localhost:5001/HOME/IPHONE11">IPHONE 11 PRO MAX 158GB :P</a></h2>
<div class="PRECIO">
<ins>$2.000.000</ins> <del>1.500.000</del>
</div>

</div>
</div>
<div class="col-md-3 col-sm-6">
<div class="single-shop-product">
<div class="product-upper">
<img src="https://support.apple.com/library/APPLE/APPLECARE_ALLGEOS/SP770/iphonex.png"  height="170" width="150" pagespeed_url_hash="504348729" >
</div>
<h2><a href="https://localhost:5001/HOME/IPHONE10">IPHONE 10 PRO HD 500GB</a></h2>
<div class="PRECIO">
<ins>$4.500.000</ins> <del>$5.500.000</del>
</div>



</div>
</div>
<div class="col-md-3 col-sm-6">
<div class="single-shop-product">
<div class="product-upper">
<img src="https://falabella.scene7.com/is/image/FalabellaCO/9712300_1?wid=800&hei=800&qlt=70" height="170" width="150" >
</div>
<h2><a href="https://localhost:5001/HOME/IPHONE12">IPHONE 12 PRO MAX 800GB</a></h2>
<div class="PRECIO">
<ins>$3.250.000</ins> <del>$2.900.000</del>
</div>


<div class="col-md-3 col-sm-6">
<div class="single-shop-product">
<div class="product-upper">
<img src="@TempData["Url"]" height="170" width="150" >
</div>
<h2><a href="https://localhost:5001/HOME/IPHONE12"    >  @TempData["marca"]  </a></h2>
<div class="PRECIO">
<ins>  @TempData["precio"]  </ins> 
</div>








</div>
</div>
</div>
</div>

<div class="newbanner_row">
<div class="nb_g g2">
<a href="" target="_blank" title="IPHONE 11 PRO">
<div class="overl"></div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
PUBLICIDAD PAGA<br>
<img class="https://www.apple.com/co/iphone-12/" src="https://i.blogs.es/cb6549/captura-de-pantalla-2018-02-26-a-las-21.30.31/1366_2000.jpg" title="IPHONE 11 PRO" data-src="" width="300" height="261" style="max-width:30%;width:30%;" ></a>



<div class="nb_p pp1">
    PUBLICIDAD PAGA<br>
<a href="http://www.aniad.org/" target="_blank" title="friposo">
<div class="overl"></div>
<img class="" src="https://oniad.com/wp-content/uploads/ONIAD-banner-thug-life-336x280.gif" title="Relojeria online colombia" data-src="https://www.tiendajr.com/images/relojes.jpg" width="290" height="363" style="max-width:100%" alt="Relojes para hombre y mujer"></a>
</div>

<div class="nb_p pp2">
<a href="https://www.instagram.com/hollywoodperfumeriapereira/?hl=es-la" target="_blank" title="publicidad">
PUBLICIDAD PAGA<br>
<div class="overl"></div>
<img class="" src="https://www.tiendajr.com/images/perfumes tiendajr-1.gif" title="perfumes para hombre y mujer" data-src="https://www.tiendajr.com/images/perfumes tiendajr-1.gif" width="290" height="363" style="max-width:100%" alt="Venta de perfumes importados"></a>
</div>

<div class="row">
<div class="col-md-12">
<div class="product-pagination text-center">
<nav>
<ul class="pagination">
<li>
<a href="#" aria-label="Previous">
<span aria-hidden="true">«</span>
</a>
</li>
<li><a href="#">1</a></li>
<li><a href="#">2</a></li>
<li><a href="#">3</a></li>
<li><a href="#">4</a></li>
<li><a href="#">5</a></li>
<li>
<a href="#" aria-label="Next">
<span aria-hidden="true">»</span>
</a>
</li>
</ul>
</nav>
</div>
</div>
</div>
</div>
</div>