@{
    ViewData["Title"] = "IPHONE12";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<div class="product-tabs-content tabs-content" id="product_tabs_description_tabbed_contents">
    <div class="std">
    <div class="der">
<h2>Características</h2>
<div class="cuerpodes">
Pantalla HDR. <br>
True Tone.<br>
Amplia gama de colores (P3)<br>
Toque con respuesta háptica.<br>
Relación de contraste 2.000.000:1 (normal)<br>
Brillo máximo de 625 nits (normal); brillo máximo de 1.200 nits (HDR)<br>
Revestimiento oleofóbico resistente a huellas dactilares.<br>
Compatibilidad para mostrar varios idiomas y caracteres simultáneamente<br>
Sistema de dos cámaras de 12 MP: ultra gran angular y gran angular<br>
Zoom óptico de 2x para alejar<br>
Modo Retrato con bokeh avanzado y Control de Profundidad<br>
Estabilización óptica de imagen (cámara gran angular)<br>
Flash True Tone más brillante con sincronización lenta<br>

</div></div>
<div class="conimg">
<div class="imgdescc">
<img class="" src="https://falabella.scene7.com/is/image/FalabellaCO/9712317_1?wid=800&hei=800&qlt=70" width="600" height="361" style="max-width:40%;width:40%;">
</div></div>
       <div class="speciff" style="margin-top:25px">
       <h2 class="a1">CARACTERISTICAS</h2>  
       <div class="cuerpodes">
       		<div class="tablspecs">
			<div class="rowceld"><div class="celdtit">Despacho en: </div><div class="celdinf">9 días hábiles</div></div>
                                    <div class="rowceld"><div class="celdtit">Garantía: </div><div class="celdinf">3 meses por defectos de fabrica</div></div>            <div class="rowceld"><div class="celdtit">Costo del envío: </div><div class="celdinf"><span>Bogotá </span><span class="shipping_price">$10,500</span><br>
						<span>Ciudades principales </span><span class="shipping_price">$14,500</span><br>
						<span>Trayectos especiales </span><span class="shipping_price">$26,700</span><br>
						Para conocer el costo exacto a una ciudad puedes agregar el producto al carrito de compras, ingresas en él y seleccionas tu ciudad en el campo "Costo de envío"</div></div>                        
            </div>
            </div> 
       </div> 
    </div>
