@{
    ViewData["Title"] = "IPHONE10";
}
<h1>@ViewData["Title"]</h1>

<div class="product-tabs-content tabs-content" id="product_tabs_description_tabbed_contents">
    <div class="std">
    <div class="der">
<h2>CARACTERISTICAS</h2>
<div class="cuerpodes">
Pantalla Super Retina HD. <br>
Pantalla OLED Multi-Touch de 5,8 pulgadas (en diagonal)<br>
Pantalla HDR.<br>
Resolución de 2.436 por 1.125 píxeles a 458 p/p.<br>
Contraste de 1.000.000:1 (típico)<br>
Pantalla True Tone.<br>
Pantalla con gama cromática amplia (P)<br>
Toque con respuesta háptica<br>
Brillo máximo de 625 nits (normal)<br>
Revestimiento oleofóbico resistente a<br>
huellas dactilares<br>
Compatibilidad para mostrar varios idiomas<br>
y caracteres simultáneamente
</div></div>
<div class="conimg">
<div class="imgdescc">
<img class="" src="https://support.apple.com/library/APPLE/APPLECARE_ALLGEOS/SP770/iphonex.png"width="600" height="361" style="max-width:40%;width:40%;" >
</div></div>
       <div class="speciff" style="margin-top:25px">
       <h2 class="a1">DETALLES</h2>  
       <div class="cuerpodes">
       		<div class="tablspecs">
			<div class="rowceld"><div class="celdtit">Despacho en: </div><div class="celdinf">9 días hábiles</div></div>
                                    <div class="rowceld"><div class="celdtit">Garantía: </div><div class="celdinf">3 meses por defectos de fabrica</div></div>            <div class="rowceld"><div class="celdtit">Costo del envío: </div><div class="celdinf"><span>Bogotá </span><span class="shipping_price">$10,500</span><br>
						<span>Ciudades principales </span><span class="shipping_price">$14,500</span><br>
						<span>Trayectos especiales </span><span class="shipping_price">$26,700</span><br>
						Para conocer el costo exacto a una ciudad puedes agregar el producto al carrito de compras, ingresas en él y seleccionas tu ciudad en el campo "Costo de envío"</div></div>                        
            </div>

<a class="btn btn-primary" href="https://localhost:5001/HOME/IPHONE12" role="button">ENVIOS CON COSTO A TODO EL PAIS</a>

</div>


            </div> 
       </div> 
    </div>

