@{
    ViewData["Title"] = "SIN RESULTADO";
}
<h1>@ViewData["Title"]</h1>

</div></div>
<div class="conimg">
<div class="imgdescc">
<img class="" src="https://www.joulin.com/images/404.png" width="600" height="361" style="max-width:100%;width:100%;">

